.hover-sign::before,
.hover-sign::after {
  content: "👆";
  text-align: center;
  position: absolute;
  font-size: 50px;
  top: 20%;
  left: 40%;
  border-radius: 50%;
  animation: hoverAnimation 2s ease-in-out infinite;
  opacity: 0.8;
}


@keyframes hoverAnimation {
  0% {
    box-shadow: 0 0 5px lightgray;
    transform: translate(100%, 50%) rotate(30deg);
  }

  100% {
    box-shadow: 0 0 15px lightgray;
    transform: translate(0%, 0%) rotate(0deg);
  }
}

.hover-sign.active{
    display: none;
}