html,
body,
#root {
  height: 100%;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
  background-color: #242424;
}
/*Text Gradient Animation*/
.gradient {
  background: linear-gradient(
    to right,
    #008baa,
    #7e42a7,
    #6600c5,
    #6070fd,
    #2a46ff,
    #0099ff,
    #008ead
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

/*Auto Blur Animation*/
@media (min-width: 700px) {
  .autoBlur {
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
  }
}

@keyframes autoBlurAnimation {
  0% {
    filter: blur(40px);
  }
  35%,
  65% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(40px);
    opacity: 0;
  }
}

/*Auto Display Animation*/
@media (min-width: 700px) {
  .autoDisplay {
    animation: autoDisplayAnimation both;
    animation-timeline: view();
  }

  @keyframes autoDisplayAnimation {
    from {
      filter: blur(10px);
      transform: translateY(-200px) scale(0);
      opacity: 0.2;
    }
    50% {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0) scale(1);
    }
    to {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0) scale(1);
    }
  }
}

/*Fadein-Right*/

.fadeInRight {
  animation: fadeInAnimation both;
  animation-timeline: view();
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateX(-500px) scale(0.2);
    filter: blur(20px);
  }
  35%,
  65% {
    opacity: 1;
    transform: translateX(0px) scale(1);
    filter: blur(0);
  }
  100% {
    filter: blur(20px);
  }
}
